@using Microsoft.CodeAnalysis
@using Microsoft.CodeAnalysis.CSharp
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.CodeAnalysis.Text
@using Microsoft.AspNetCore.Razor
@using System.Text
@using Microsoft.JSInterop
@using Blatomic.Services.JS

@implements IAsyncDisposable

@inject ITheme Theme
@inject ClipboardService ClipboardService

<div class="border @Theme.Light.Border.ToString() rounded-lg">
    <div class="bg-gray-800 text-gray-200 flex justify-between items-center py-2 px-4 rounded-t-lg">
        <p>@Title</p>
        <Button Color="@Theme.Light.ToString()"
                OnClickedAsync="CopyCodeToClipboard"
                RoundedStyle="RoundedStyle.L">
            @copyButtonText
        </Button>
    </div>
    <pre class="text-gray-400 bg-gray-900 rounded-b-lg p-2 overflow-x-auto">
        @if (!string.IsNullOrWhiteSpace(Code))
        {

            @((MarkupString)markup)
        }
    </pre>
</div>

@code {
    [Parameter] public string Code { get; set; } = string.Empty;
    [Parameter] public bool ShowLineNumber { get; set; } = true;
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public ILanguage Language { get; set; } = new CSharpLanguage();

    private string markup = string.Empty;
    private string copyButtonText = "Copy";

    protected override void OnInitialized()
    {
        if (!string.IsNullOrWhiteSpace(Code))
        {
            markup = new LanguageParser()
                {
                    ShowLineNumbers = ShowLineNumber
                }.ParseCode(Code, Language);
        }
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await ClipboardService.Import();

        await base.OnAfterRenderAsync(firstRender);
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        await ClipboardService.DisposeAsync();
    }

    private async Task CopyCodeToClipboard()
    {
        var error = await ClipboardService.CopyToClipboard(Code);
        if (error is not null)
        {
            copyButtonText = error;
        }
        else
        {
            copyButtonText = "Copied!";
            _ = ButtonReset();
        }
    }

    private async Task ButtonReset()
    {
        await Task.Delay(1000);
        copyButtonText = "Copy";
        StateHasChanged();
    }
}

