@inject ITheme Theme

@if (!isDismissed)
{
    <div role="alert" class="b-flex b-justify-between b-items-center b-p-2 b-rounded @Palette?.All">
        <div class="b-flex b-grow">
            @if (ShowIcon)
            {                
                <div class="b-mr-2 b-shrink-0">@Info.StandardInfo</div>
            }
            <div class="b-grow">@ChildContent</div>
        </div>
        @if (IsDismissable)
        {
            <DismissButton OnClickAsync="Dismiss" />
        }
    </div>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public Palette? Palette { get; set; }
    [Parameter] public bool IsDismissable { get; set; } = false;
    [Parameter] public bool ShowIcon { get; set; } = true;

    private bool isDismissed = false;

    protected override void OnInitialized()
    {
        if (Palette is null)
        {
            Palette = Theme.Warning;
        }
        base.OnInitialized();
    }

    public void Dismiss()
    {
        if (IsDismissable)
        {
            isDismissed = true;
        }
    }
}
