<div class="b-bg-white b-p-4 b-ring-1 b-ring-gray-900/5 b-rounded-lg b-shadow-lg b-max-w-xs b-w-full b-h-28">
    <div class="b-flex b-space-x-4 b-animate-pulse">
    <div class="b-rounded-full b-bg-gray-200 b-h-10 b-w-10"></div>
    <div class="b-flex-1 b-space-y-6 b-py-1">
        <div class="b-h-2 b-bg-gray-200 b-rounded"></div>
        <div class="b-space-y-3">
        <div class="b-grid b-grid-cols-3 b-gap-4">
            <div class="b-h-2 b-bg-gray-200 b-rounded b-col-span-2"></div>
            <div class="b-h-2 b-bg-gray-200 b-rounded b-col-span-1"></div>
        </div>
        <div class="b-h-2 b-bg-gray-200 b-rounded"></div>
        </div>
    </div>
    </div>
</div>


