<Dropdown Position="Position.Right">
    <ChildContent>
        <div class="p-4">
            @Fragments.BlatomicIcon.StandardIcon
        </div>
    </ChildContent>
    <DropdownContent>
        <div class="w-48">
            The blatomic icon is an SVG so that it can scale nicely to fit all viewports, isn't that nice?
        </div>
    </DropdownContent>
</Dropdown>