<Select TData="int?" Items="@numbers" IsMultiSelect="true">
    <PlaceHolderTemplate>
        <p class="px-4">Select...</p>
    </PlaceHolderTemplate>
    <SelectedItemsTemplate Context="Items">
        <div class="flex -space-x-2 p-2">
            @foreach (var item in Items)
            {
                <div class="h-6 w-6 border-2 border-white rounded-full bg-green-300 text-black flex justify-center items-center">
                    @item
                </div>
            }
        </div>
    </SelectedItemsTemplate>
    <ItemTemplate Context="Item">
        <p class="px-4">#@Item</p>
    </ItemTemplate>
</Select>

@code {
    private int?[] numbers = new int?[] { 1, 2, 3, 4, 5 };
}