<span class="b-relative b-inline-flex">
    @ChildContent

    @if (ShowNotification)
    {
        <span class="b-flex b-absolute b-h-3 b-w-3 b-top-0 b-right-0 b--mt-1 b--mr-1">
            <span class="b-animate-ping b-absolute b-inline-flex b-h-full b-w-full b-rounded-full b-bg-sky-400 b-opacity-75"></span>
            <span class="b-relative b-inline-flex b-rounded-full b-h-3 b-w-3 b-bg-sky-500"></span>
        </span>
    }
</span>

@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool ShowNotification { get; set; }
}
