@typeparam TData
@inject ITheme Theme

@if (Items != null && ItemsTemplate != null)
{
    <div class="Palette?.All">
        @foreach (var parent in Items)
        {
            <TreeItemView TData="TData" CollapseAll="CollapseAll" ItemTemplate="ItemsTemplate" OpenTemplate="OpenTemplate" CloseTemplate="CloseTemplate" Item="parent" />
        }
    </div>
}

@code {
    [Parameter] public IEnumerable<IHierarchyNode<TData>>? Items { get; set; }
    [Parameter] public RenderFragment<TData>? ItemsTemplate { get; set; }
    [Parameter] public RenderFragment<TData>? OpenTemplate { get; set; }
    [Parameter] public RenderFragment<TData>? CloseTemplate { get; set; }
    [Parameter] public Palette? Palette { get; set; }
    [Parameter] public bool CollapseAll { get; set; } = false;
    [Parameter] public bool ShowBorder { get; set; } = false;

    protected override void OnInitialized()
    {
        if (Palette is null)
        {
            Palette = Theme.Form;
        }
        base.OnInitialized();
    }
}
