<nav>
    <ul class="space-y-8 lg:space-y-4">
        <li class="text-gray-700 dark:text-gray-400 border-transparent">
            <h5 class="mb-4 lg:mb-3 font-semibold text-gray-900 dark:text-gray-200">
                Getting Started
            </h5>
            <ul class="space-y-2 border-l border-gray-800 dark:border-gray-400">
                <li>
                    <TwNavLink Href="/" Match="NavLinkMatch.All">
                        Installation
                    </TwNavLink>
                </li>
                <li>
                    <TwNavLink Href="themes">
                        Themes
                    </TwNavLink>
                </li>
            </ul>
        </li>

        <li class="text-gray-700 dark:text-gray-400 border-transparent">
            <h5 class="mb-4 lg:mb-3 font-semibold text-gray-900 dark:text-gray-200">
                Components
            </h5>
            <ul class="space-y-2 border-l border-gray-800 dark:border-gray-400">
                <li>
                    <TwNavLink Href="buttons">
                        Buttons
                    </TwNavLink>
                </li>
                <li>
                    <TwNavLink Href="steppers">
                        Steppers
                    </TwNavLink>
                </li>
                <li>
                    <TwNavLink Href="dragdrop">
                        Drag & Drop
                    </TwNavLink>
                </li>
                <li>
                    <TwNavLink Href="modals">
                        Modals
                    </TwNavLink>
                </li>
                <li>
                    <TwNavLink Href="progressbars">
                        Progress Bars
                    </TwNavLink>
                </li>
                <li>
                    <TwNavLink Href="guides">
                        Guides
                    </TwNavLink>
                </li>
            </ul>
        </li>
    </ul>
</nav>

