<div class="top-row ps-3 navbar navbar-dark">
    <div class="container">
        <a class="text-white" href="">Blatomic Examples</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttons">
                <span class="oi oi-plus" aria-hidden="true"></span> Buttons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="steppers">
                <span class="oi oi-plus" aria-hidden="true"></span> Steppers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dragdrop">
                <span class="oi oi-plus" aria-hidden="true"></span> Drag & Drop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modals">
                <span class="oi oi-plus" aria-hidden="true"></span> Modals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="progressbars">
                <span class="oi oi-plus" aria-hidden="true"></span> Progress Bars
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="guides">
                <span class="oi oi-plus" aria-hidden="true"></span> Guides
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
