<div @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="themes">
                <span class="oi oi-plus" aria-hidden="true"></span> Themes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttons">
                <span class="oi oi-plus" aria-hidden="true"></span> Buttons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="steppers">
                <span class="oi oi-plus" aria-hidden="true"></span> Steppers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dragdrop">
                <span class="oi oi-plus" aria-hidden="true"></span> Drag & Drop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modals">
                <span class="oi oi-plus" aria-hidden="true"></span> Modals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="progressbars">
                <span class="oi oi-plus" aria-hidden="true"></span> Progress Bars
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="guides">
                <span class="oi oi-plus" aria-hidden="true"></span> Guides
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter] public bool ShowNavMenu { get; set; } = false;
    [Parameter] public EventCallback<bool> ShowNavMenuChanged { get; set; }

    private void ToggleNavMenu()
    {
        ShowNavMenu = !ShowNavMenu;
        ShowNavMenuChanged.InvokeAsync(ShowNavMenu);
    }
}
