@typeparam TData

@implements IAsyncDisposable
@inject ElementService ElementService

<div @ref="container" class="b-relative" ondragover="event.preventDefault();"
     ondragstart="event.dataTransfer.setData('', event.target.id);" @ondragenter="InternalHandleDragEnter">

    <CascadingValue Value="this">
        @if (ChildContent is not null)
        {
            @ChildContent(BoundItems)
        }
    </CascadingValue>
    @if (isShowingDrop)
    {
        <div class="b-absolute b-z-10 b-flex b-justify-center b-items-center b-inset-0">
            @if (canDrop)
            {
                @CanDropTemplate
            }
            else
            {
                @CannotDropTemplate
            }
        </div>
        <div class="b-absolute b-z-20 b-inset-0 @DropBorderClass"
         @ondragleave="InternalHandleDragLeave" @ondrop="InternalHandleDrop">
        </div>
    }
</div>

@code {
    private ElementReference container;
    private string dropBorderClass = string.Empty;
    private bool isShowingDrop = false;
    private bool canDrop = false;

    [CascadingParameter] public DragContext<TData>? Context { get; set; }

    [Parameter] public string DropBorderClass { get; set; } = "b-outline-2 b-outline-dashed b-animate-pulse b-bg-gray-300/25";
    [Parameter] public bool ShowCantDrop { get; set; } = true;
    private List<TData> BoundItems
    {
        get => Items;
        set
        {
            Items = value;
            ItemsChanged.InvokeAsync(value);
        }
    }
    [Parameter] public List<TData> Items { get; set; } = new();
    [Parameter] public EventCallback<List<TData>> ItemsChanged { get; set; }

    [Parameter] public Func<DragArgs<TData>, Task<bool>> CanDropAsync { get; set; } = (dropItem) => Task.FromResult(true);
    [Parameter] public Func<DragArgs<TData>, Task> OnDragEnterAsync { get; set; } = (dropItem) => Task.CompletedTask;
    [Parameter] public Func<DragArgs<TData>, Task> OnDragLeaveAsync { get; set; } = (dropItem) => Task.CompletedTask;
    /// <summary>
    /// Return if you could like the item to be added to the internal list. Default true
    /// </summary>
    [Parameter] public Func<DragArgs<TData>, Task<bool>> BeforeDropAsync { get; set; } = (dropItem) => Task.FromResult(true);
    [Parameter] public Func<DragArgs<TData>, Task> OnDropCompleteAsync { get; set; } = (dropItem) => Task.CompletedTask;

    [Parameter] public Func<DragArgs<TData>, bool> CanDrop { get; set; } = (dropItem) => true;
    [Parameter] public Action<DragArgs<TData>>? OnDragEnter { get; set; }
    [Parameter] public Action<DragArgs<TData>>? OnDragLeave { get; set; }
    /// <summary>
    /// Return if you could like the item to be added to the internal list. Default true
    /// </summary>
    [Parameter] public Func<DragArgs<TData>, bool> BeforeDrop { get; set; } = (dropItem) => true;
    [Parameter] public Action<DragArgs<TData>>? OnDropComplete { get; set; }

    [Parameter] public RenderFragment<List<TData>>? ChildContent { get; set; }
    [Parameter] public RenderFragment? CanDropTemplate { get; set; } = @Plus.StandardPlusOutline;
    [Parameter] public RenderFragment? CannotDropTemplate { get; set; } = @Ban.StandardBanSolid;

    private TData? data
    {
        get
        {
            if (Context == null)
            {
                return default(TData);
            }
            return Context.DragData;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            Context?.DropAreas.Add(this);
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        await ElementService.DisposeAsync();
    }

    public async Task<BoundingClientRect> GetBoundingClientRect()
    {
        return await ElementService.GetBoundingClientRect(container);
    }

    public void RemoveDragItem(TData dragItem)
    {
        if (dragItem is not null)
        {
            if (BoundItems.Remove(dragItem))
            {
                StateHasChanged();
            }
        }
    }

    public async Task ShowDroppableStyleAsync(DragArgs<TData> args)
    {
        if (await HandleCanDropAsync(args))
        {
            canDrop = true;
        }
        else
        {
            canDrop = false;
        }

        isShowingDrop = true;
        dropBorderClass = DropBorderClass;
    }

    public void HideDroppableStyle()
    {
        canDrop = false;
        isShowingDrop = false;
        dropBorderClass = string.Empty;
    }

    public async Task HandleOnDragEnterAsync(DragArgs<TData> args)
    {
        if (isShowingDrop)
        {            
            await OnDragEnterAsync(args);
            OnDragEnter?.Invoke(args);
        }
    }
    public async Task HandleOnDragLeaveAsync(DragArgs<TData> args)
    {
        if (isShowingDrop)
        {
            await OnDragLeaveAsync(args);
            OnDragLeave?.Invoke(args);
        }
    }
    public async Task HandleOnDropCompleteAsync(DragArgs<TData> args)
    {
        await OnDropCompleteAsync(args);
        OnDropComplete?.Invoke(args);
    }
    public async Task<bool> HandleBeforeDropAsync(DragArgs<TData> args)
    {
        return await BeforeDropAsync(args) && BeforeDrop.Invoke(args);
    }
    public async Task<bool> HandleCanDropAsync(DragArgs<TData> args)
    {
        return await CanDropAsync(args) && CanDrop.Invoke(args);
    }

    public async Task HandleDropAsync(DragArgs<TData> args)
    {
        if (await HandleCanDropAsync(args))
        {
            if (args.Data != null && await HandleBeforeDropAsync(args))
            {
                BoundItems.Add(args.Data);
            }
            Context?.DragItem?.OnDragToDropZoneComplete();
            await HandleOnDropCompleteAsync(args);
        }
        HideDroppableStyle();
    }

    private async Task InternalHandleDragEnter(DragEventArgs e)
    {
        var args = new DragArgs<TData>(data, null, e);
        await HandleOnDragEnterAsync(args);
    }
    private async Task InternalHandleDragLeave(DragEventArgs e)
    {
        var args = new DragArgs<TData>(data, null, e);
        await HandleOnDragLeaveAsync(args);
    }
    private async Task InternalHandleDrop(DragEventArgs e)
    {
        var args = new DragArgs<TData>(data, null, e);
        await HandleDropAsync(args);
    }
}