<div class="b-relative">
    <Button OnClickedAsync="(() => isShowing = !isShowing)">@ChildContent @Down.EndDownSolid</Button>
    <div class="@visible b-transition-opacity b-duration-300 b-origin-top-right b-absolute b-right-0 b-mt-2 b-shadow-lg">
        @Content
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }


    private string visible => isShowing ? "b-visible b-opacity-100" : "b-invisible b-opacity-0";
    private bool isShowing = false;
}
