<span class="relative inline-flex">
    @ChildContent

    @if (ShowNotification)
    {
        <span class="flex absolute h-3 w-3 top-0 right-0 -mt-1 -mr-1">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
        </span>
    }
</span>

@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool ShowNotification { get; set; }
}
